# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
package-lock.json

# Build files
dist
dist-ssr
*.local
.tmp
.cache
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test files
coverage
/cypress/videos/
/cypress/screenshots/

# Environment files
.env
.env.*
!.env.example
